@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Another convention is to set the padding,
margin and border for all elements to zero. 
The asterisk wildcard selector allows us to do this. 
This gives us more control over our box-model measurements 
when we go to position our elements within a design.*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* sans-serif is a backup-font */

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/* removes the underlines from all child's (a) */

#menu a {
    text-decoration: none;

    /* "inherit" allows the link to inherit the color from
    the closest parent */

    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero-image */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
}